.CardTeme{
    width: 1300px;
    background-color: #34342C;

    color: white;
    border-radius: 20px 20px 0 0;
}

.Line{
    width: 1300px;
    height: 10px;
    background-color: #A09C8B;
}

.Items{
    background-color: #F6F6F6;
    border-radius: 0 0 40px 40px;
}
