.HeaderBarFooter {
    background-color: #34342C;
    border-radius: 0 0 25px 25px;

    width: 1920px;
    height: 50px;

    position: absolute;
    margin-top: 285px;

    align-items: center;

    color: white;
}
